name: Testing
on:
  push:
  pull_request:

jobs:
  test-app:
    name: Test Application
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3.0.0
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17
      - name: Test application
        run: go test ./...
      - name: Compile application
        run: go build
